<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <div>
      <form action="/" method="GET">
      <!-- <input type="text" name="cardname" placeholder="Search a Card"> -->
      <button type="submit">Find new Card</button>
      </form>
    </div>
    <div class="display">
      <% if (cardData) { %> 
        <%= cardData.name %>
        <br />
        <img src="<%= cardData.image_uris.normal %>" alt="<%= cardData.name %>">
      <% } else { %>
        <h3>get inspiration</h3>
      <% } %>


    </div>
  </body>
</html>
