<%- include('partials/header') %>
    <h1>Home Page</h1>
    <div>
      <form action="/" method="GET">
      <!-- <input type="text" name="cardname" placeholder="Search a Card"> -->
      <button type="submit">Get Inspiration</button>
      </form>
    </div>
    <div class="display">
      <% if (cardData) { %> 
        <br />
        <img src="<%= cardData.image_uris.normal %>" alt="<%= cardData.name %>">
      <% } else { %>
        <h3>Legend's Spoiler Season</h3>
      <% } %>


    </div>
<%- include('partials/footer') %>