<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SageGrouse Deck Builder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
        <nav>
            <a href="/">Home</a>
            <form action="/decks" method="POST">
                <input type="hidden" name="deckName" value="new deck">
                <input type="hidden" name="deckAuthor" value="none provided">
                <button type="submit">Add a Deck</button>
            </form>
            <a href="/decks">All Decks</a>
        </nav>