<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SageGrouse Deck Builder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
        <nav>
            <a href="/decks/new">Add a Deck</a>
            <a href="/decks/index">All Decks</a>
            <a href="/index">Home</a>
        </nav>